<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - UFR SET</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/WebApplication3.styles.css" asp-append-version="true"/>
    @* <script src="https://cdn.tailwindcss.com"></script> *@
</head>
<body>
<header class="position-fixed" style="top: 0; right: 0; left: 0;">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">UFR - SET</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark @(ViewData["Title"].ToString() == "Filieres" ? "bg-info":"")" asp-area="" asp-controller="Home" asp-action="Filieres">Filieres</a></li>
                   
                    <li class="nav-item">
                        <a class="nav-link text-dark @(ViewData["Title"].ToString() == "Professeurs" ? "bg-info":"")" asp-area="" asp-controller="Home" asp-action="Professeurs">Professeurs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark @(ViewData["Title"].ToString() == "Departements" ? "bg-info":"")" asp-area="" asp-controller="Home" asp-action="Departements">Departements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark @(ViewData["Title"].ToString() == "Services" ? "bg-info":"")" asp-area="" asp-controller="Home" asp-action="Services">Services</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container clearfix" style="margin-top: 60px;">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top bg-white footer text-muted  " style="bottom: 0; right: 0; left: 0;">
    <div class="container">
        &copy; 2024 - zaldev - <a asp-area="" asp-controller="Home" >Accueil</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>